{% extends 'base.html.twig' %}

{% block title %}Hello HopitalController!
{% endblock %}

{% block body %}
	<style>
		html,
		body {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		#container {
			display: flex;
			height: 100%;
		}

		#text {
			width: 35%;
			position: relative; /* Ajoutez cette ligne */
		}

		#image-content {
			width: 50%;
			height: 50%;
			margin-left: 50%;
			position: relative;
		}

		#image-content img {
			position: relative;
			top: -150px; /* Ajustez la valeur en fonction de la distance que vous souhaitez faire monter l'image */
			border-radius: 5px;
		}

		.slid {
			background-image: url('chemin/vers/mon-image.jpg');
			height: 20rem;
			width: 100%;
			background-color: rgb(30, 0, 0);
			position: sticky;
		}

		.content-slid {
			margin-top: 13%;
			z-index: 1;
			text-align: center;
			border: 1px;
			width: 50%;
			margin-left: 25%;
		}

		.page {
			font-weight: bold;
			display: flex;
			justify-content: center;
			align-items: center;
			letter-spacing: 4px;
		}
	</style>

	{% include "menu/header.html.twig" %}

	<div class="slid">
		<div class="content-slid border">
			<b>REJOIGNEZ-NOUS SAUVEZ DES VIES</b>
		</div>
	</div>

	<div id="container" class="mt-5">
		<div id="text">
			<h3 class="text-center">Les hôpitaux et les dons de sang : Un acte qui sauve des vies</h3><br>
			<p>Les hôpitaux jouent un rôle vital dans notre société en offrant des soins de santé de qualité à ceux qui en ont besoin. Cependant, pour pouvoir continuer à sauver des vies, les hôpitaux dépendent également de la générosité des donneurs de sang.</p>
		</div>
	</div>

	<div id="image-content">
		<img src="https://th.bing.com/th/id/R.bef51e1d2874294d7605d4b027f29a35?rik=pBi6QOPKQjn9%2bQ&riu=http%3a%2f%2fwww.aslweb.fr%2fmedia%2fresources%2fhopital_vue_exterieure.2.JPG&ehk=eMZmP5fBSgeEi%2b48s%2bQNr%2fKIXytqVHlILEIKsCTdKRI%3d&risl=1&pid=ImgRaw&r=0" alt="" class="img-fluid"/>
	</div>


	<h2 class="text-center">Les hopitaux</h2>

	<section class="slider mt-3">
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-lg-12 col-sm-12 col-md-12 slider-wrap">
					{% for itemH in paginationHopital %}
						<div class="slider-item">
							<div class="slider-item-content">
								<div class="post-thumb mb-4">
									<a href="blog-single.html">
										<img src="images/slider/slider1.jpg" alt="" class="img-fluid">
									</a>
								</div>

								<div class="slider-post-content">
									<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Hopital</span>
									<h3 class="post-title mt-1">
										<a href="blog-single.html">{{itemH.nom}}</a>
									</h3>
									<span class=" text-muted  text-capitalize">
										<a href="{{ path('app_detail_hopital', {'id': itemH.id}) }}">
											<button type="button" class="btn btn-danger" style="border-radius: 5px;">
												Se renseigner</button>
										</a>
									</span>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</section>
	<div class="page">
		{{ knp_pagination_render(paginationHopital) }}
	</div>
	<p style="margin-top: 10px;">
		<a href="" class="btn btn-danger" style="border-radius: 5px;">Ajouter un hopital</a>
	</p>

	{% include "menu/footer.html.twig" %}
</div>{% endblock %}
