{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/axentix@2.3.0/dist/axentix.min.js"></script>
{% endblock %}

{% block body %}
	{# {% include "menu/header.html.twig" %}
																																																<div class="full_bg"> #}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 sidenav-fixed white">
		<div class="sidenav-header">
			<img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo"/>
		</div>
		<a href="#" class="sidenav-link active">Mon profil</a>
		<a href="#" class="sidenav-link">Mes dons</a>
		<a href="#" class="sidenav-link">Link 3</a>
		<a href="#" class="sidenav-link">Link 4</a>
	</div>

	<main>
		<!-- Code here the main content -->
		<button data-target="example-sidenav" class="btn rounded-1 press amaranth dark-1 hide-md-up">
			Open sidenav
		</button>
	</main>

	<div class="example-wrapper">
		<div>
			{% for message in app.flashes('error1') %}
				<div class="p-3 my-2 rounded-2 error">{{message}}</div>
			{% endfor %}
			{% for message in app.flashes('error2') %}
				<div class="p-3 my-2 rounded-2 error">{{message}}</div>
			{% endfor %}
			<form class="form-material form-material-bordered" method="POST">
				<div class="form-field">
					<label for="latestPassword">Dernier Mot de passe</label>
					<input type="password" id="latestPassword" name="latestPassword" class="form-control rounded-1" required/>
				</div>
				<div class="form-field">
					<label for="password">Nouveau mot de passe</label>
					<input type="password" id="password" name="password" class="form-control rounded-1" required/>
				</div>
				<div class="form-field">
					<label for="confirmPassword">Confirmer le mot de passe</label>
					<input type="password" id="confirmPassword" name="confirmPassword" class="form-control rounded-1" required/>
				</div>
				<button type="submit" class="btn shadow-1 rounded-1 blue">Valider</button>
			</form>
		</div>
	</div>
{% endblock %}
{# {% for flashMessage in app.flashes('error') %}
			<div class="alert alert-danger">{{ flashMessage }}</div>
		{% endfor %} #}
